<!doctype html>
<html lang="en">
  <head>
    <title>JobFiction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/custom-bs.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="fonts/line-icons/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/animate.min.css">

    <link rel="stylesheet" href="css/style.css">    
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  </head>
  <body id="top">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <!-- .site-mobile-menu -->
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> 
    

    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="site-logo col-6"><a href="home">JobFiction</a></div>
  
            <nav class="mx-auto site-navigation">
              <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                <li><a href="home" class="nav-link active">Home</a></li>
                <li><a href="jobs_1">Job Postings</a></li>
                <li>
                  <!-- <a href="recommendations.html">Recommendations</a> -->
                </li>
                <!-- <li><a href="blog.html">Blogs</a></li> -->
                <li>
                  <a href="about">About Us</a>
                </li>
                <li class="d-lg-none"><a href="register">Register</a></li>
                <li class="d-lg-none"><a href="login">Log In</a></li>
              </ul>
            </nav>
            
            <!-- <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
              <div class="ml-auto">
                <a href="post-job.html" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a> -->
                <!-- <a href="index_login.html" class="btn btn-primary border-width-2 d-none d-lg-inline-block">Log In</a> -->
              <!-- </div>
              <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
            </div> -->
  
          </div>
        </div>
      </header>


    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="new2">
              <h1 class="text-white font-weight-bold">Candidate Profile</h1>
            </div>
            <div class="custom-breadcrumbs">
              <!-- <a href="#">Home</a> <span class="mx-2 slash">/</span> -->
              <!-- <span class="text-white"><strong>Register</strong></span> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="containerr">
          <!-- Sidenav -->
    <div class="toggle-btn" onclick="viewmenu()">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <div class="sidenav"  id="showmenu">
      <div class="profile">
          <img src="images/As_mine.png" alt="" width="100" height="100">
          <div class="name">
              Azahar Kureshi
          </div>
          <div class="job">
              <i class="fa fa-briefcase" aria-hidden="true"></i> Fresher
          </div>
      </div>

      <div class="sidenav-url">
          <div class="url">
              <a href="/saved_jobs" target="_blank" class="active">Saved Jobs</a>
          </div>
          <hr class="mehr">
          <div class="url">
              <a href="/apply_jobs" target="_blank" class="active">Applied Jobs</a>
          </div>
          <hr class="mehr">
          <div class="url">
              <a href="/edit_profile" target="_blank" class="active">Edit Profile</a>
          </div>
      </div>
  </div> 
  <!-- End -->

  <!-- Main -->
  <div class="main" id="hideshow">
      <div class="card-body">
          <div class="card mine">
                <h2>PERSONAL DETAILS</h2>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Full Name</span>
                </div>
                <div class="widgetCont"><span class="empty">hhhhhh</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Email</span>
                </div>
                <div class="widgetCont"><span class="empty">{{email}}</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Contact Number</span>
                </div>
                <div class="widgetCont"><span class="empty">(+91) {{number}}</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Gender</span>
                </div>
                <div class="widgetCont"><span class="empty">{{gender}}</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Birth Date</span>
                </div>
                <div class="widgetCont"><span class="empty">{{DOB}}</span>
                </div>
            </div>
          <div class="card">
              <h2>ABOUT</h2>
              <div class="widgetHead"><span class="widgetTitle typ-16Bold">Technical Skills</span>
                </div>
                <div class="widgetCont"><span class="empty">PHP, HTML, CSS, Java</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Languages</span>
                </div>
                <div class="widgetCont"><span class="empty">English, Gujarati</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Resume</span>
                </div>
                <div class="widgetCont"><a class="nodecoration" href='{{resume_link}}' target="_blank"><span class="empty addhere">Click Here</span></a>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Experience</span>
                </div>
                <div class="widgetCont"><span class="empty">Fresher</span>
                </div>
          </div>
          <div class="card">
              <h2>PROJECT</h2>
              <div class="widgetHead"><span class="widgetTitle typ-16Bold">Name/Title</span>
              </div>
              <div class="widgetCont"><span class="empty">JOB FICTION, ONLINE TRADING</span>
              </div>
          </div>
         <div class="card">
                <h2>EDUCATION</h2>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Highest Education/Degree</span>
                </div>
                <div class="widgetCont"><span class="empty">{{highest_edu}}</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">University/Collage</span>
                </div>
                <div class="widgetCont"><span class="empty">{{College}}</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Field of Study</span>
                </div>
                <div class="widgetCont"><span class="empty">{{field}}</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Class XII</span>
                </div>
                <div class="widgetCont"><span class="empty">{{ class12}}</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Class X</span>
                </div>
                <div class="widgetCont"><span class="empty">{{class10}}</span>
                </div>
            </div>

        <div class="card">
                <h2>RECOMMENDATION</h2>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Desired Job Type</span>
                </div>
                <div class="widgetCont"><span class="empty">Software Developer</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Expected salary range</span>
                </div>
                <div class="widgetCont"><span class="empty">₹20,000 - ₹50,000</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Preferred Work Location</span>
                </div>
                <div class="widgetCont"><span class="empty">Pune</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Desired Employment Type</span>
                </div>
                <div class="widgetCont"><span class="empty">Full Time</span>
                </div>
                <hr>
                <div class="widgetHead"><span class="widgetTitle typ-16Bold">Desired Work Mode</span>
                </div>
                <div class="widgetCont"><span class="empty">Office</span>
                </div>
            </div>
      </div>
  </div>
    </section>
    
    <footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Search Trending</h3>
            <ul class="list-unstyled">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Graphic Design</a></li>
              <li><a href="#">Web Developers</a></li>
              <li><a href="#">Python</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Company</h3>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Resources</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled">
              <li><a href="#">Help center</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Terms and conditions</a></li>
              <li><a href="#">Fraud alert</a></li>
              <li><a href="#">Grievances</a></li>
              <li><a href="#">Report issue</a></li>
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Connect with us</h3>
            <div class="footer-social">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

      </div>
    </footer>
  
  </div>

    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/stickyfill.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    
    <script src="js/bootstrap-select.min.js"></script>
    
    <script src="js/custom.js"></script>
    <script src="js/script_candidateprofile.js"></script>

     
  </body>
</html>