<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="/css/custom-bs.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/fonts/line-icons/style.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style_saved_jobs.css">
    <link rel="stylesheet" href="/css/style_jobs.css">
    <link rel="stylesheet" href="/css/style.css">

    {{!--
    <link rel="stylesheet" href="/css/side-nav.css"> --}}

    <script src="https://kit.fontawesome.com/7ff784d1a8.js" crossorigin="anonymous"></script>

    <style>
        /* Add your custom styles here */

        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            color: black;
        }



        /* .container {
            padding: 20px;
        } */

        .card {
            margin-bottom: 20px;
            border: 0.5px solid rgba(160, 138, 138, 0.521);
        }

        #verified-companies,
        #unverified-companies,
        #total-companies {
            font-size: 32px;
            font-weight: bold;
            color: rgb(55, 55, 232);
        }

        .nav-profile {
            display: none !important;
        }

        .jobs-card i {
            margin-right: 0.5em;
            font-size: 1.2em;
        }

        .jobs-card {
            box-shadow: 0 0 2px 2px gray;
            border-radius: 5px;
            min-height: 150px;
            align-items: center;
            background-color: rgb(255, 255, 255);
            width: 90%;
            cursor: pointer;
            margin: 1rem auto;
        }

        .jobs-card:hover {
            border: 1px rgb(49, 85, 185) solid;
            box-shadow: 0px 0px 5px gray;

            h4 {
                font-weight: bolder !important;
            }

        }

        .cards-container {
            width: 90%;
            max-height: 0;
            background-color: rgba(205, 225, 254, 0.708);
            overflow-y: scroll;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
            border-radius: 8px;
            box-shadow: 0 0 5px gray;
            transition: max-height 0.2s ease-out;
            padding: 0 !important;
            border: 0 !important;
            color: black !important;
        }

        #card-title {
            font-weight: bolder;
            font-size: 25px;
        }

        .labels {
            margin-top: auto;
            margin-bottom: auto;
        }

        .job-labels-open-nav {
            display: none;
        }

        .label-a:hover,
        .label-c:hover {

            box-shadow: 0px 0 5px;
            background-color: var(--primaryColor);
            color: white !important;
        }

        .labels {
            max-width: fit-content;
        }

        a:hover {
            text-decoration: none;
        }

        .container-main {
            width: 85%;
            margin: auto;
        }

        .user-profile,
        .company-logo {
            display: block !important;
        }

        .white {
            background-color: white;
            transition: 0.25s linear;
        }

        .blue {
            border: 1.5px black solid;
            background-color: rgb(174, 244, 244) !important;
            transition: 0.25s linear;
        }

        #vf-comp-list,
        #un_comp_list {
            background-color: white;
            transition: 0.25s linear;
        }

        #vf-comp-list:hover,
        #un_comp_list:hover {

            background-color: rgb(174, 244, 244);
            border: 1.5px black solid;
            transition: 0.25s linear;
        }

        @media (width < 768px) {
            .job-labels {
                margin-top: 0 !important;
            }

            .jobs-card {
                text-align: center;
            }

            .job-detail p {
                margin-bottom: 0;
            }

            .label-3 {
                display: none;
            }

            .jobs-card i {
                margin-right: 0.2rem;
            }

        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let uv_comp = document.getElementById("unverified-companies").innerHTML;
            let v_comp = document.getElementById("verified-companies").innerHTML;
            let total_comp = Number(uv_comp) + Number(v_comp);
            document.getElementById("total-companies").innerHTML = total_comp;

            let btn = document.getElementById("un_comp_list");
            let btn2 = document.getElementById("vf-comp-list");
            btn.addEventListener("click", open_list1);
            btn2.addEventListener("click", open_list2);

            function open_list1() {
                let disp_prop = document.getElementById("uv-cards-container");
                if (disp_prop.style.maxHeight === "0px") {
                    disp_prop.style.maxHeight = "1000px";
                    console.log(disp_prop.style.maxHeight);
                }
                else {
                    disp_prop.style.maxHeight = "0px";
                    console.log(disp_prop.style.maxHeight);
                }
            }

            function open_list2() {
                let disp_prop = document.getElementById("vf-cards-container");
                if (disp_prop.style.maxHeight === "0px")
                    disp_prop.style.maxHeight = "1000px";
                else
                    disp_prop.style.maxHeight = "0px";
            }


        });
    </script>
</head>


<body id="top" style="min-height: 150vh;">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>


    {{>header_admin}}

    {{>sidenav_admin}}


    <section class="section-hero overlay inner-page bg-image" style="background-image: url('/images/hero_1.jpg');"
        id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="new2">
                        <h1 class="text-white font-weight-bold">Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-main mt-5">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 id="card-title" class="card-title">Verified Companies</h5>
                        <span type="number" id="verified-companies">{{num1}}</span>

                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 id="card-title" class="card-title">Unverified Companies</h5>
                        <span id="unverified-companies">{{num2}}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 id="card-title" class="card-title">Total Companies</h5>
                        <span id="total-companies"></span>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12 mt-0 align-items-center">
                <div id="un_comp_list" class="card white">
                    <div class="card-body " style="cursor: pointer;">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0 ">Unverified Companies</h5>
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                </div>
                <div class="cards-container" id="uv-cards-container">
                    {{#if Unverified}}
                    {{#each Unverified}}
                    <div class="row jobs-card" onclick="window.location='/Admin/company_description/{{email}}'">
                        <div class="col-md-2 company-logo">
                            <img src={{profile}} alt="Company-logo" class="job-profile">
                        </div>
                        <div class="col-md-3">
                            <h4>{{companyname}}</h4>
                        </div>
                        <div class="col-md-4">
                            <h4>{{industrytype}}</h4>
                        </div>
                        <div class="col-md-3 ">
                            <p><i class="fa-solid fa-location-dot"></i>{{companylocation}}</p>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div style="text-align: center;">
                        <p>
                        <h2>No Unverified Companies</h2>
                        </p>
                    </div>
                    {{/if}}
                </div>

            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-12 mt-0">
                <div id="vf-comp-list" class="card white">
                    <div class="card-body" style="cursor: pointer;">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Verified Companies</h5>
                            <!-- Add your content for unverified companies -->
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                </div>
                <div class="cards-container" id="vf-cards-container">
                    {{#if verified}}
                    {{#each verified}}
                    <div class="row jobs-card" onclick="window.location='/Admin/company_description/{{email}}'">
                        <div class="col-md-2 company-logo">
                            <img src={{profile}} alt="Company-logo" class="job-profile">
                        </div>
                        <div class="col-md-3">
                            <h4>{{companyname}}</h4>
                        </div>
                        <div class="col-md-4">
                            <h4>{{industrytype}}</h4>
                        </div>
                        <div class="col-md-3 ">
                            <p><i class="fa-solid fa-location-dot"></i>{{companylocation}}</p>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div style="text-align: center;">
                        <p>
                        <h2>No Verified Companies</h2>
                        </p>
                    </div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>


    <!-- footer -->

    <footer class="site-footer">

        <a href="#top" class="smoothscroll scroll-top">
            <span class="icon-keyboard_arrow_up"></span>
        </a>

        <div class="container">
            <div class="row mb-5">
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Search Trending</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Graphic Design</a></li>
                        <li><a href="#">Web Developers</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">CSS3</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Company</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Support</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Help center</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Fraud alert</a></li>
                        <li><a href="#">Grievances</a></li>
                        <li><a href="#">Report issue</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Connect with us</h3>
                    <div class="footer-social">
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-instagram"></span></a>
                        <a href="#"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </footer>



    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/stickyfill.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>

    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>

    <script src="/js/side-nav.js"></script>
    <script src="/js/script_saved_jobs.js "></script>
    <script src="/js/custom.js"></script>


</body>

</html>