<!doctype html>
<html lang="en">

<head>
    <title>JobFiction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="css/custom-bs.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="fonts/line-icons/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/external_editprofile.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/Edit_profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body id="top">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            console.log('DOM fully loaded');
            fetch('/Edit_profile')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Data received:', data);
                    const resumeLink = data.data.resume_link;
                    console.log('Resume link:', resumeLink);
                    const resumeInput = document.getElementById('candidate_resume');

                    if (resumeLink && resumeInput) {
                        resumeInput.value = resumeLink;
                        console.log('Resume input value set:', resumeLink);
                    } else {
                        console.error('Unable to find resume input or link');
                    }
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        });
    </script>


    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    {{>header}}

    {{!-- side navigation bar for profile --}}
    {{>candidate_profile}}

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');"
        id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="new2">
                        <h1 class="text-white font-weight-bold">Edit Profile</h1>
                    </div>
                    <div class="custom-breadcrumbs">
                        <!-- <a href="#">Home</a> <span class="mx-2 slash">/</span> -->
                        <!-- <span class="text-white"><strong>Register</strong></span> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="containerr">
        <form action="/edit_profile" method="post" id="checkformbefore">

            <div class="toggle-btn" onclick="viewmenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="sidenav" id="showmenu">
                <div class="profile">
                    <div class="image" id="az">
                        <input type="file" name="image" id="candidate_image" onchange="func(event)">
                        <label for="candidate_image"><img src="{{data.profile}}" id="candidatephoto"
                                alt="Preview Not Available" width="100" height="100"></label>
                    </div>

                </div>
                <div class="lowerprofile">Click on above to edit your photo <br>Photo must be in form of .jpg/.jpeg/.png
                </div>
                <div class="sidenav-url">
                    <div class="url">
                        <a href="home" class="active">Home</a>
                    </div>
                    <hr class="mehr">
                    <div class="url">
                        <a href="/jobs_1" class="active">Jobs</a>
                    </div>
                    <hr class="mehr">
                    <div class="url">
                        <a href="myprofile" class="active">Profile</a>
                    </div>
                </div>
                <div class="submitbtn upper-btn">
                    <button id="submitbutton" type="submit">Save Changes</button>
                </div>
            </div>


            <!-- Sidenav -->
            <!-- End -->

            <!-- Main -->
            <div class="main" id="hideshow">
                <div class="card-body">
                    <div class="card mine">
                        <h2>Pesonal Details</h2>
                        <div>
                            <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                        for="candidate_name">Full Name</label></span>
                            </div>
                            <div class="widgetCont differentinput uneditable">
                                <span class="empty ">{{data.name}}
                                </span>
                            </div>
                        </div>

                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_email">Email</label></span>
                        </div>
                        <div class="widgetCont differentinput uneditable"><span class="empty">{{data.email}}
                            </span>
                        </div>

                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_contact_number">Contact number</label></span>
                        </div>
                        <div class="widgetCont differentinput uneditable"><span class="empty">{{data.number}}
                            </span>
                        </div>

                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_gender">Gender</label></span>
                        </div>
                        <div class="widgetCont differentinput uneditable"><span class="empty">{{data.gender}}
                            </span>
                        </div>

                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_birth_date">Date Of Birth</label></span>
                        </div>
                        <div class="widgetCont differentinput uneditable"><span class="empty">{{data.DOB}}
                            </span>
                        </div>
                    </div>

                    <div class="card">
                        <h2>About</h2>
                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_technical_skills">Technical Skills</label></span>
                        </div>
                        <div class="widgetCont"><span class="empty">
                                <select name="technical_skills" id="candidate_technical_skills" multiple>


                                    {{#each technical_skills}}
                                    <option value='{{this}}' selected> {{this}}</option>
                                    {{/each}}

                                    {{#each r_technical_skills}}
                                    <option value='{{this}}'> {{this}}</option>
                                    {{/each}}


                                </select>
                            </span>
                            <span style="color: red; display: none;" id="presentskill">Please select at least one option
                            </span>
                        </div>

                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_language_skills">Language </label></span>
                        </div>
                        <div class="widgetCont"><span class="empty">
                                <!-- <input class="differentinput" type="date" id="candidate_skills" name="skills"> -->
                                <select name="language_skills" id="candidate_language_skills" multiple>

                                    {{#each languages}}
                                    <option value='{{this}}' selected> {{this}}</option>
                                    {{/each}}

                                    {{#each r_languages}}
                                    <option value='{{this}}'> {{this}}</option>
                                    {{/each}}
                                </select>
                            </span>
                            <span style="color: red; display: none;" id="presentlanguage">Please select at least one
                                option </span>
                        </div>
                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_resume">Resume</label></span>
                        </div>
                        <div class="widgetCont"><span class="empty"><input class="differentinput" type="url"
                                    id="candidate_resume" name="resume_link"
                                    placeholder="Enter google drive link of your resume" required>

                            </span>
                        </div>
                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_experience">Experience</label></span>
                        </div>
                        <div class="widgetCont">
                            <span class="empty">
                                <input type="number" name="experience" class="differentinput" max="30" id="exp"
                                    placeholder="Ex. 5" required />
                            </span>
                        </div>
                    </div>

                    <div class="card">
                        <h2>Project</h2>

                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_project">Name/Title</label></span>
                        </div>
                        <div class="widgetCont"><span class="empty"><input class="differentinput" type="text"
                                    id="candidate_project" name="project" maxlength="50" minlength="3" oninput="lidateName()" required>
                            </span>
                            <span style="color: red;" id="validproject"></span>
                        </div>
                    </div>

                    <div class="card">
                        <h2>Education</h2>
                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_highest_education">Highest Education/Degree</label></span>
                        </div>
                        <div class="widgetCont select-menu dropdown1" id="another"><span class="empty">
                                <div class="select-btn widgetCont select-btn1">
                                    <span class="sBtn-text sBtn-text1">{{data.highest_edu}}</span>
                                    <textarea id="sBtn-text6" name="highest_edu">{{data.highest_edu}}</textarea>
                                    <div class="vertical-line"></div>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="changec" width="100%" height="100%"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="18 15 12 21 6 15"></polyline>
                                    </svg>
                                </div>
                                <ul class="options">
                                    <li class="option option1">
                                        <span class="option-text">Bachelors</span>
                                    </li>
                                    <li class="option option1">
                                        <span class="option-text">Masters</span>
                                    </li>
                                    <li class="option option1">
                                        <span class="option-text">Phd</span>
                                    </li>
                                </ul>
                            </span>
                            <span style="color: red; display: none;" id="valideducation">Please choose an option</span>
                        </div>

                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_collage">University/College</label></span>
                        </div>
                        <div class="widgetCont"><span class="empty"><input class="differentinput" type="text"
                                    id="candidate_collage" name="college"
                                    placeholder="Enter your Collage or University Name" maxlength="50" minlength="3" oninput="lidatecollege()" required>
                            </span>
                            <span style="color: red;" id="validcollege"></span>
                        </div>

                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_study">Field of Study</label></span>
                        </div>
                        <div class="widgetCont select-menu dropdown2" id="zeromargin"><span class="empty">
                                <div class="select-btn widgetCont select-btn2">
                                    <span class="sBtn-text sBtn-text2">{{data.field}}</span>
                                    <textarea id="sBtn-text5" name="field">{{data.field}}</textarea>
                                    <div class="vertical-line"></div>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="changec" width="100%" height="100%"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <polyline points="18 15 12 21 6 15"></polyline>
                                    </svg>
                                </div>
                                <ul class="options">
                                    <li class="option option2">
                                        <span class="option-text">Computer Science and Engineering</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Information Technology</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Data Science and Analytics</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Artificial Intelligence</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Machine Learning</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Cybersecurity</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Software Engineering</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Computer Networks</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Information Systems</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">IT Management</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">IT Infrastructure</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Big Data Analytics</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Data Engineering</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Business Analytics</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Data Mining</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Telecommunication Engineering</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Cloud Computing</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Mobile Computing</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Wireless Communication</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Human-Computer Interaction</span>
                                    </li>
                                    <li class="option option2">
                                        <span class="option-text">Telecommunication Systems</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Distributed Computing</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Network Security</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Information Theory</span>
                                    </li>

                                    <li class="option option2">
                                        <span class="option-text">Digital Signal Processing</span>
                                    </li>

                                </ul>
                            </span>
                            <span style="color: red; display: none;" id="validfield">Please choose an option</span>
                        </div>

                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_collage">Class XII Percentage</label></span>
                        </div>
                        <div class="widgetCont"><span class="empty"><input class="differentinput" type="number"
                                    id="candidate_class12" name="class12" min="0" max="100" step="0.01"
                                    placeholder="Ex. 99.99" required>
                            </span>
                        </div>
                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_class10">Class X Percentage</label></span>
                        </div>
                        <div class="widgetCont"><span class="empty"><input class="differentinput" type="number"
                                    id="class10" name="class10" min="0" max="100" step="0.01" placeholder="Ex. 99.99"
                                    required>
                            </span>
                        </div>
                    </div>

                    <div class="card last">
                        <h2>Recommendation</h2>
                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_desired_job">Desired Job Type</label></span>
                        </div>
                        <div class="widgetCont"><span class="empty">
                                <select name="r_job_title" id="candidate_desired_job" class="differentinput" multiple>

                                    {{#each recommendation_data.r_job_title}}
                                    <option value='{{this}}' selected> {{this}}</option>
                                    {{/each}}
                                    {{#each job_title}}
                                    <option value='{{this}}'> {{this}}</option>
                                    {{/each}}
                                </select>
                            </span>
                            <span style="color: red; display: none;" id="presentjob">Please select at least one
                                option </span>
                        </div>



                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_preferred_location">Preferred Work Location</label></span>
                        </div>
                        <div class="widgetCont"><span class="empty">
                                <select name="r_location" id="candidate_preferred_location" class="differentinput"
                                    multiple>
                                    {{#each recommendation_data.r_location}}
                                    <option value='{{this}}' selected> {{this}}</option>
                                    {{/each}}
                                    {{#each location}}
                                    <option value='{{this}}'> {{this}}</option>
                                    {{/each}}

                                </select>
                            </span>
                            <span style="color: red; display: none;" id="presentlocation">Please select at least one
                                option </span>
                        </div>

                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_experience">Desired Employment Type</label></span>
                        </div>
                        <div class="widgetCont">
                            <span class="empty candidategender spandiff">
                                <div>
                                    <input type="radio" id="Intern" name="r_employment" value="intern" />
                                    <label for="Intern">Intern</label>
                                </div>

                                <div>
                                    <input type="radio" id="Part_time" name="r_employment" value="part_time" />
                                    <label for="Part_time">Part Time</label>
                                </div>

                                <div>
                                    <input type="radio" id="Full_time" name="r_employment" value="full_time" />
                                    <label for="Full_time">Full Time</label>
                                </div>

                                <div>
                                    <input type="radio" id="Part_time" name="r_employment" value="" checked />
                                    <label for="Part_time">Any</label>
                                </div>
                            </span>
                        </div>

                        <div class="widgetHead"><span class="widgetTitle typ-16Bold"><label class="profileinput"
                                    for="candidate_work_mode">Desired Work Mode</label></span>
                        </div>
                        <div class="widgetCont">
                            <span class="empty candidategender spandiff">
                                <div>
                                    <input type="radio" id="Office" name="r_work_mode" value="Office" />
                                    <label for="Office">Office</label>
                                </div>

                                <div>
                                    <input type="radio" id="Remote" name="r_work_mode" value="Remote" />
                                    <label for="Remote">Remote</label>
                                </div>

                                <div>
                                    <input type="radio" id="Hybrid" name="r_work_mode" value="Hybrid" />
                                    <label for="Hybrid">Hybrid</label>
                                </div>

                                <div>
                                    <input type="radio" id="Part_time" name="r_work_mode" value="" checked />
                                    <label for="Part_time">Any</label>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="submitbtn lower-btn">
                        <button id="submitbutton" type="submit">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <footer class="site-footer new-foot">

        <a href="#top" class="smoothscroll scroll-top">
            <span class="icon-keyboard_arrow_up"></span>
        </a>

        <div class="container">
            <div class="row mb-5">
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Search Trending</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Graphic Design</a></li>
                        <li><a href="#">Web Developers</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">CSS3</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Company</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Support</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Help center</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Fraud alert</a></li>
                        <li><a href="#">Grievances</a></li>
                        <li><a href="#">Report issue</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Connect with us</h3>
                    <div class="footer-social">
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-instagram"></span></a>
                        <a href="#"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    </div>

    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/stickyfill.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>

    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>

    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/script_editprofile.js"></script>

    <script src="js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('candidate_technical_skills')  // id
        new MultiSelectTag('candidate_language_skills')  // id
        new MultiSelectTag('candidate_desired_job')  // id
        new MultiSelectTag('candidate_preferred_location')  // id
    </script>
    <script>
        function func(event) {

            const fi = document.getElementById('candidate_image');
            const img = fi.value.split('.').pop().toLowerCase().toString();
            var imageExts = ['jpg', 'jpeg', 'png'];
            // Check if any file is selected. 
            if (fi.files.length > 0) {
                console.log(img)
                if (imageExts.indexOf(img) === -1) {
                    fi.value = null
                    document.getElementById("candidatephoto").src = 'images/photo.webp';
                    alert('Only jpg/jpeg and png files are allowed!');
                }
                if (imageExts.indexOf(img) !== -1) {
                    var image = URL.createObjectURL(event.target.files[0]);

                    document.getElementById("candidatephoto").src = image;
                }
            }

        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let marginzero = document.getElementById('another');

            window.addEventListener('click', function (event) {
                if (event.target.matches('#another')) {
                    // Clicking on the element toggles the 'active' class
                    marginzero.classList.toggle('active');
                } else {
                    // Clicking outside of the element removes the 'active' class
                    marginzero.classList.remove('active');
                }
            });

            // Prevent the click inside the element from closing immediately
            marginzero.addEventListener('click', function (event) {
                event.stopPropagation();
            });

        });

        document.addEventListener('DOMContentLoaded', function () {
            let marginzero = document.getElementById('zeromargin');

            window.addEventListener('click', function (event) {
                if (event.target.matches('#zeromargin')) {
                    // Clicking on the element toggles the 'active' class
                    marginzero.classList.toggle('active');
                } else {
                    // Clicking outside of the element removes the 'active' class
                    marginzero.classList.remove('active');
                }
            });

            // Prevent the click inside the element from closing immediately
            marginzero.addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            let marginzero = document.getElementById('dipak');

            window.addEventListener('click', function (event) {
                if (event.target.matches('#dipak')) {
                    // Clicking on the element toggles the 'active' class
                    marginzero.classList.toggle('active');
                } else {
                    // Clicking outside of the element removes the 'active' class
                    marginzero.classList.remove('active');
                }
            });

            // Prevent the click inside the element from closing immediately
            marginzero.addEventListener('click', function (event) {
                event.stopPropagation();
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const resumeLinkFromData = '{{data.resume_link}}'; // Assuming data.resume_link is available in your Handlebars context

            const resumeInput = document.getElementById('candidate_resume');
            const expi = document.getElementById('exp');
            const pi = document.getElementById('candidate_project');
            const class10 = document.getElementById('class10')
            const class12 = document.getElementById('candidate_class12')
            const college = document.getElementById('candidate_collage')

            pi.value = '{{data.project}}';
            class10.value = '{{data.class10}}'
            class12.value = '{{data.class12}}'
            college.value = '{{data.college}}'

            expi.value = '{{data.experience}}';

            if (resumeInput && resumeLinkFromData) {
                resumeInput.value = resumeLinkFromData;
            }
        });
    </script>
    <script>
        function lidateName() {
            var nameInput = document.getElementById('candidate_project');
            var nameValue = nameInput.value.trim();

            // Regular expression to check if the value contains only alphabets and spaces
            var regex = /^[A-Za-z\s]+$/;

            // Check if the value matches the regular expression
            if (!regex.test(nameValue)) {
                document.getElementById('validproject').textContent = 'Name should contain only alphabets and spaces.';
                nameInput.setCustomValidity('Invalid name'); // Set custom validity to prevent form submission
            } else {
                document.getElementById('validproject').textContent = '';
                nameInput.setCustomValidity(''); // Reset custom validity
            }
        }
        function lidatecollege() {
            var nameInput = document.getElementById('candidate_collage');
            var nameValue = nameInput.value.trim();

            // Regular expression to check if the value contains only alphabets and spaces
            var regex = /^[A-Za-z\s]+$/;

            // Check if the value matches the regular expression
            if (!regex.test(nameValue)) {
                document.getElementById('validcollege').textContent = 'Name should contain only alphabets and spaces.';
                nameInput.setCustomValidity('Invalid name'); // Set custom validity to prevent form submission
            } else {
                document.getElementById('validcollege').textContent = '';
                nameInput.setCustomValidity(''); // Reset custom validity
            }
        }
    </script>
    <script>

        document.getElementById('checkformbefore').addEventListener('submit', function (event) {
            var selectField = document.getElementById('candidate_technical_skills');
            var selectedOptions = [...selectField.options].filter(option => option.selected);

            if (selectedOptions.length === 0) {
                event.preventDefault(); // Prevents form submission
                document.getElementById('presentskill').style.display = 'block';
            }
            else {
                document.getElementById('presentskill').style.display = 'none';
            }
        });
        document.getElementById('checkformbefore').addEventListener('submit', function (event) {
            var selectField = document.getElementById('candidate_language_skills');
            var selectedOptions = [...selectField.options].filter(option => option.selected);

            if (selectedOptions.length === 0) {
                event.preventDefault(); // Prevents form submission
                document.getElementById('presentlanguage').style.display = 'block';
            }
            else {
                document.getElementById('presentlanguage').style.display = 'none';
            }
        });
        document.getElementById('checkformbefore').addEventListener('submit', function (event) {
            var selectField = document.getElementById('candidate_preferred_location');
            var selectedOptions = [...selectField.options].filter(option => option.selected);

            if (selectedOptions.length === 0) {
                event.preventDefault(); // Prevents form submission
                document.getElementById('presentlocation').style.display = 'block';
            }
            else {
                document.getElementById('presentlocation').style.display = 'none';
            }
        });
        document.getElementById('checkformbefore').addEventListener('submit', function (event) {
            var selectField = document.getElementById('candidate_desired_job');
            var selectedOptions = [...selectField.options].filter(option => option.selected);

            if (selectedOptions.length === 0) {
                event.preventDefault(); // Prevents form submission
                document.getElementById('presentjob').style.display = 'block';
            }
            else {
                document.getElementById('presentjob').style.display = 'none';
            }
        });
        document.getElementById('checkformbefore').addEventListener('submit', function (event) {
            var selectField = document.getElementById('sBtn-text6');

            if (selectField.value == '') {
                event.preventDefault(); // Prevents form submission
                document.getElementById('valideducation').style.display = 'block';
            }
            else {
                document.getElementById('valideducation').style.display = 'none';
            }
        });
        document.getElementById('checkformbefore').addEventListener('submit', function (event) {
            var selectField = document.getElementById('sBtn-text5');

            if (selectField.value == '') {
                event.preventDefault(); // Prevents form submission
                document.getElementById('validfield').style.display = 'block';
            }
            else {
                document.getElementById('validfield').style.display = 'none';
            }
        });
        document.getElementById('checkformbefore').addEventListener('submit', function (event) {
            var selectField = document.getElementById('sBtn-text4');

            if (selectField.value == '') {
                event.preventDefault(); // Prevents form submission
                document.getElementById('validsalary').style.display = 'block';
            }
            else {
                document.getElementById('validsalary').style.display = 'none';
            }
        });
    </script>


</body>

</html>