<!doctype html>
<html lang="en">

<head>
  <title>JobBoard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/custom-bs.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/bootstrap-select.min.css">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="fonts/line-icons/style.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/animate.min.css">

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style_jobs.css">
    <script src="https://kit.fontawesome.com/7ff784d1a8.js" crossorigin="anonymous"></script>

</head>

<body id="top">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  {{> header}}

{{!-- Side Navigation bar for profile --}}
  {{>candidate_profile}}
  
  <!-- HOME -->
  <section class="home-section section-hero overlay bg-image" style="background-image: url('images/hero_1.jpg');"
    id="home-section">

    <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Find your <span class=" headline">perfect job</span> easily</h1>
            <p>With more than 5 lakh+ jobs for you to explore</p>
          </div>
          <form action="/jobs_1/search" method="post" class="search-jobs-form">
            <div class="row mb-5">
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                {{!-- <input type="text" name="search" class="form-control form-control-lg"
                  placeholder="Job title, Company..."> --}}
                <select id="job-title-dropdown" name="job_titles" class="selectpicker" data-style="btn-white btn-lg"
                  data-width="100%" data-live-search="true" title="Job titles">
                  {{#each defaultJobTitles}}
                  <option>{{this}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <select id="region-dropdown" class="selectpicker" name="locations" data-style="btn-white btn-lg"
                  data-width="100%" data-live-search="true" title="Select Region">
                  {{#each defaultLocations}}
                  <option>{{this}}</option>
                  {{/each}}
                  {{!-- <option>Anywhere</option>
                  <option>Bengaluru</option>
                  <option>Hyderabad</option>
                  <option>Gandhinagar</option>
                  <option>Pune</option>
                  <option>Gurgaon</option> --}}
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <select id="work-mode-dropdown" class="selectpicker" name="work_modes" data-style="btn-white btn-lg"
                  data-width="100%" data-live-search="true" title="Select Job Type">
                  {{#each defaultWorkModes}}
                  <option>{{this}}</option>
                  {{/each}}
                  {{!-- <option>Any</option>
                  <option>Remote</option>
                  <option>Office</option>
                  <option>Hybrid</option> --}}
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span
                    class="icon-search icon mr-2"></span>Search Job</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 popular-keywords">
                <h3>Trending Keywords:</h3>
                <ul class="keywords list-unstyled m-0 p-0">
                  <li><a href="#" class="">Software Engineer</a></li>
                  <li><a href="#" class="">Developer</a></li>
                  <li><a href="#" class="">Product Designer</a></li>
                  <li><a href="#" class="">UI Designer</a></li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </section>

  {{logged}}

  <!-- JOBS -->
  <div>
    <div
      style="background-color: brown; text-align:center; width: 90%; height: 500 px; padding: auto; border: 5px solid rgb(21, 124, 28); margin: auto;">

      <h1>Jobs</h1>

    </div>
    {{!-- <div style="width: 80%; padding:auto ; margin:auto"> --}}
      <div id="jobListing-container" class="col container jobListing-container scroll">

        {{#each data}}
        {{!-- <a href="/job_description/{{id}}">

          <div class="row jobs-card">
            <div class="col-sm-2 company-logo">
              <img src="/images/Tesla.svg" alt="Company-logo" class="job-profile">
            </div>
            <div class="col job-detail">
              <div class="row col-sm">
                <h4>{{company}}</h4>
              </div>
              <div class="row  col-sm">
                <h3>{{Job_title}}</h3>
              </div>
              <div class="row  col-sm ">
                <p><i class="fa-solid fa-location-dot"></i>{{location}}</p>
              </div>
            </div>

            <div class="col-sm-4 job-labels mt-3">
              <div class="col-10">
                <div class="row labels">
                  <span class="label-1"><i class="fas fa-inr"></i>{{salary}}</span>
                </div>
                <div class="row labels">
                  <span class="label-2"><i class="fas fa-business-time"></i>{{experience}}</span>
                </div>
                <div class="row labels">
                  <span class="label-3"><i class="far fa-building"></i>{{job_type}}</span>
                </div>
              </div>
            </div>
        </a> --}}

        {{>job_card}}
        {{/each}}
      </div>
    {{!-- </div> --}}
  </div>
  <button class="job-more">
    More List
  </button>
  </div>


  <footer class="site-footer">

    <a href="#top" class="smoothscroll scroll-top">
      <span class="icon-keyboard_arrow_up"></span>
    </a>

    <div class="container">
      <div class="row mb-5">
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Search Trending</h3>
          <ul class="list-unstyled">
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Graphic Design</a></li>
            <li><a href="#">Web Developers</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">HTML5</a></li>
            <li><a href="#">CSS3</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Company</h3>
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Resources</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Support</h3>
          <ul class="list-unstyled">
            <li><a href="#">Help center</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Terms and conditions</a></li>
            <li><a href="#">Fraud alert</a></li>
            <li><a href="#">Grievances</a></li>
            <li><a href="#">Report issue</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-4 mb-md-0">
          <h3>Connect with us</h3>
          <div class="footer-social">
            <a href="#"><span class="icon-facebook"></span></a>
            <a href="#"><span class="icon-twitter"></span></a>
            <a href="#"><span class="icon-instagram"></span></a>
            <a href="#"><span class="icon-linkedin"></span></a>
          </div>
        </div>
      </div>

    </div>
  </footer>

  </div>

  <!-- SCRIPTS -->
  <script src="js/bootstrap-select.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/stickyfill.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>

  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>


  <script src="js/dynamic_dropdown.js"></script>
  <script src="js/custom.js"></script>


</body>

</html>