<!doctype html>
<html lang="en">

<head>
    <title>JobFiction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/custom-bs.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/fonts/line-icons/style.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
        integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
        integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6c6d85d0b7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_jobDescription.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body id="top">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    {{>header}}

    {{!-- side navigation bar for profile --}}
    {{>candidate_profile}}

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('/images/hero_1.jpg');"
        id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="new2">
                        <h1 class="text-white font-weight-bold">Description of Job</h1>
                    </div>
                    <div class="custom-breadcrumbs">
                        <!-- <a href="#">Home</a> <span class="mx-2 slash">/</span> -->
                        <!-- <span class="text-white"><strong>Register</strong></span> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="containerr">
        <div class="list-grid-item mt-4 p-2">
            <div class="row">
                <div class="col-md-9">
                    <div class="candidates-img float-left mr-4">
                        <!-- <a href="amazon" target="_blank" id="company_logo">
                            <img src="job_log4o_3.jpg" alt="" class="img-fluid d-block rounded">
                        </a> -->
                    </div>
                    <div class="candidates-list-desc job-single-meta  pt-2">
                        <h5 class="mb-2 f-19 text-dark">{{jobTitle}}</h5>
                        <h6 id="jobtitle"><a href="amazon" target="_blank" class="companyname"> {{companyName}}</a>
                        </h6>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-4">
                                <p class="text-muted f-15 mb-0"><i class="fa-solid fa-location-dot"></i>
                                    {{companyLocation}}</p>
                            </li>
                            <li class="list-inline-item mr-4">
                                <p class="text-muted f-15 mb-0"><i class="fa fa-briefcase" aria-hidden="true"></i>
                                    {{comExperience}}<span style="color: black;">Yrs</span>
                                </p>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted f-15 mb-0"><i class="fa-solid fa-indian-rupee-sign"></i>
                                    {{giveSalary}}
                                </p>
                            </li>
                        </ul>
                        <hr>
                        <span>
                            <p style="color: #343440; font-size: 20px; font-weight:bold">About Company </p> Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Possimus
                            cum numquam error sunt ducimus eum veniam odit optio officiis illo.z
                        </span>
                        <hr>
                        <!-- <hr id="myh"> -->
                        <div id="dateofrole">Last Date:<span id="dateofroleform"> {{lstDate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="candidates-list-fav-btn">
                        <div class="candidates-listing-btn mt-4 text-right">
                            <div class="btn btn-sm above">
                                <i class="{{how}} fa-bookmark fa-xl" id="saveIcon"
                                    onclick="toggleSaveState({{jobid}})"></i><span id="myspan"> {{savestatus}}</span>

                            </div>
                            {{#if job_status}}
                            <div class="below"><button id="applyButton" type="submit"
                                    onclick="apply({{jobid}},'unapply')" class="btn btn-outline btn-sm belowa">
                                    unapply
                                </button>
                            </div>
                            {{else}}
                            <div class="below"><button id="applyButton" type="submit" onclick="apply({{jobid}},'apply')"
                                    class="btn btn-outline btn-sm belowa">
                                    Apply Now
                                </button></div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mine">
            <h2>Job Description</h2>
            <ul>
                <!-- <div class="styles_JDC__dang-inner-html__h0K4t"> -->
                <li>
                    <p><strong>Role &amp; Responsibilities</strong></p>
                </li>
                <span>{{role}}</span>
                <li>
                    <p><strong>Preferred Candidate Profile</strong> </p>
                    <div class="styles_details__Y424J"><label>Experience:</label><span> {{comExperience}}<span
                                class="styles_comma__6l5nn"></span></span></div>
                    <hr>
                    <div class="styles_details__Y424J"><label>Key Skills:</label><span> {{reqskills}}</span>
                    </div>
                </li>
                <li>
                    <p><strong>Standard</strong></p>
                </li>
                <div class="styles_other-details__oEN4O">
                    <div class="styles_details__Y424J"><label>Job Title:</label><span> {{jobTitle}}<span
                                class="styles_comma__6l5nn"></span></span></div>
                    <hr>
                    <div class="styles_details__Y424J"><label>Industry Type:</label><span> {{industry_type}}<span
                                class="styles_comma__6l5nn"></span></span></div>
                    <hr>
                    <div class="styles_details__Y424J"><label>Employment Type:</label><span> {{empType}}</span></div>
                    <hr>
                    <div class="styles_details__Y424J"><label>Work Mode:</label><span> {{wrkMode}}</span></div>
                    <hr>
                    <div class="styles_details__Y424J"><label>Role Category:</label><span> Back
                            Office</span>
                    </div>
                    <hr>
                    <div class="styles_details__Y424J"><label>Salary:</label><span> {{giveSalary}}</span>
                    </div>
                    <hr>
                    <div class="styles_details__Y424J"><label>Location:</label><span> {{companyLocation}}</span>
                    </div>
                </div>
                <li>
                    <p><strong>Education</strong></p>
                </li>
                <div class="styles_other-details__oEN4O">
                    <div class="styles_details__Y424J"><label>Degree:</label><span> {{ empDegree}}</span></div>
                </div>
                <li>
                    <p><strong>Perks &amp; Benifites</strong></p>
                </li>
                <div class="styles_other-details__oEN4O">
                    <div class="styles_details__Y424J"><span> {{giveperk}}</span></div>
                </div>
            </ul>
        </div>
    </section>

    <footer class="site-footer new-foot">

        <a href="#top" class="smoothscroll scroll-top">
            <span class="icon-keyboard_arrow_up"></span>
        </a>

        <div class="container">
            <div class="row mb-5">
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Search Trending</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Graphic Design</a></li>
                        <li><a href="#">Web Developers</a></li>
                        <li><a href="#">Python</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li><a href="#">CSS3</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Company</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Resources</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Support</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Help center</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Fraud alert</a></li>
                        <li><a href="#">Grievances</a></li>
                        <li><a href="#">Report issue</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Connect with us</h3>
                    <div class="footer-social">
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-instagram"></span></a>
                        <a href="#"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    </div>

    <!-- SCRIPTS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/stickyfill.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>

    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/custom.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let dateString = document.getElementById('dateofroleform');
            let extractedValue = dateString.textContent.split(' GMT')[0];
            dateString.textContent = extractedValue;
        });
    </script>

    <script>
        async function toggleSaveState(id) {
            const saveIcon = document.getElementById("saveIcon");
            if (saveIcon.classList.contains("fa-solid")) {
                saveIcon.classList.remove("fa-solid");
                saveIcon.classList.add("fa-regular");
                document.getElementById('myspan').innerHTML = "save";
                try {
                    var data = new URLSearchParams({ "id": id });
                    const response = await fetch("/unsaveData", {
                        method: "POST",
                        body: data,
                    });
                    if (response.ok) {
                        const htmlContent = await response.text();
                        document.open();
                        document.write(htmlContent);
                        document.close();
                    } else {
                        if (response.status === 400) {
                            // Handle the case where the user is not logged in.
                            alert("You have to log in first.");
                            window.location = "/login";
                        } else {
                            throw new Error("NETWORK RESPONSE ERROR");
                        }
                    }
                } catch (err) {
                    console.log(err);
                }
            } else {
                saveIcon.classList.remove("fa-regular");
                saveIcon.classList.add("fa-solid");
                document.getElementById('myspan').innerHTML = " Saved";
                try {
                    var data = new URLSearchParams({ "id": id });
                    const response = await fetch("/saveData", {
                        method: "POST",
                        body: data,
                    });
                    if (response.ok) {
                        const htmlContent = await response.text();
                        document.open();
                        document.write(htmlContent);
                        document.close();
                    } else {
                        if (response.status === 400) {
                            // Handle the case where the user is not logged in.
                            alert("You have to log in first.");
                            window.location = "/login";
                        } else {
                            throw new Error("NETWORK RESPONSE ERROR");
                        }
                    }
                } catch (err) {
                    console.log(err);
                }

            }
        }

        //let isApplied = false;
        // isApplied = !isApplied;
        // applyButton.textContent = isApplied ? 'Unapply' : 'Apply Now';
        // applyButton.disabled = isApplied; 


        async function apply(job_id, flag) {


            const applyButton = document.getElementById('applyButton');

            if (flag === "apply") {

                applyButton.textContent = "Unapply";

                try {
                    var token = getBrowserCookie("jwt");
                    var data = { "id": job_id };
                    const response = fetch('/apply', {
                        method: "POST",
                        headers: {
                            "Cookie": `jwt=${token}`,
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(data)
                    }).then((response) => {
                        if (response.ok) {

                            return response.json();
                        } else {
                            if (response.status === 400) {
                                // Handle the case where the user is not logged in.
                                alert("You have to log in first.");
                                window.location = "/login";
                            }
                            else {
                                throw Error("NETWORK RESPONSE ERROR");
                            }


                        }
                    })

                        .then(data => {
                            // Assuming the response contains a boolean value named "shouldRedirect"
                            if (data.x === 1) {
                                alert("you applied successfully");
                                window.location.href = `/job_description/${job_id}`;
                            }

                            else if (data.y === 1) {
                                alert("after duedate application is not accepted")
                                window.location.href = `/job_description/${job_id}`;
                            }

                            else if (data.b === 1) {
                                alert("Please complete your profile first")
                                window.location.href = `/job_description/${job_id}`;
                            }

                            else if (data.z === 1) {
                                alert("Your Experience is less than expected")
                                window.location.href = `/job_description/${job_id}`;
                            }

                            else if (data.a === 1) {
                                alert("Skills are not matching")
                                window.location.href = `/job_description/${job_id}`;
                            }

                            else {

                            }
                            //else {
                            //  alert("you applied successfully");
                            // window.location.href = `/job_description/${job_id}`;
                            // }
                        })
                        .catch((error) => console.error("FETCH ERROR:", error));
                }

                catch (err) {
                    console.log(err);
                }
            }

            else {
                applyButton.textContent = "Apply Now";

                try {
                    var token = getBrowserCookie("jwt");
                    var data = { "id": job_id };
                    const response = fetch('/unapply', {
                        method: "POST",
                        headers: {
                            "Cookie": `jwt=${token}`,
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(data)
                    }).then((response) => {
                        if (response.ok) {

                            return response.json();
                        } else {
                            if (response.status === 400) {
                                // Handle the case where the user is not logged in.
                                alert("You have to log in first.");
                                window.location = "/login";
                            }
                            else {
                                throw Error("NETWORK RESPONSE ERROR");
                            }
                        }
                    })
                        .then(data => {
                            // Assuming the response contains a boolean value named "shouldRedirect"
                            if (data.x === 0) {
                                alert("you Unapplied successfully");
                                window.location.href = `/job_description/${job_id}`;
                            }
                            else if (data.y === 1) {
                                alert("last date hase gone for unapply")
                                window.location.href = `/job_description/${job_id}`;
                            }
                            else {

                            }
                        })
                        .catch((error) => console.error("FETCH ERROR:", error));
                }

                catch (err) {
                    console.log(err);
                }
            }

        }
        // krushnag
        function getBrowserCookie(cookieName) {
            const cookies = document.cookie.split(';');
            for (const cookie of cookies) {
                const [name, value] = cookie.split('=');
                if (name === cookieName) {
                    return value;
                }
            }
            return false;
        }

    </script>

</body>

</html>